{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Modification commentaire'}}
{% endblock %}

{% block content %}
	<div class="container vh-100">
		<div class="row d-flex justify-content-center">
			<h1 class="my-5 pt-5">Modification d'un commentaire</h1>
			<div class="col-12 col-sm-6">

				{{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}
			
			</div>
		</div>
				<div class="d-flex justify-content-end">
		      <a class="btn btn-outline-primary" href="{{ path('app_comment_index') }}"><i class="me-2 bi bi-arrow-left-square"></i>Retour</a>
		</div>
	</div>

{% endblock %}
