{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Inspiration' }}
{% endblock %}

{% block content %}

	<div class="container mt-5">
		<h2 class="font-subtitle display-5 my-5 pt-5 rounded-end">Inspirations de la categorie {{ category.name }}</h2>

		<div class="row">

{% for artwork in artworks %}
	
				<div class="col-12 col-sm-4 my-2">
					<div class="d-flex flex-column align-items-center border rounded pb-2 h-100 my-2 bg-shadow">
				<p>{{ artwork.name}}</p>
				<p>{{ artwork.category.name}}</p>
				
					</div>
				</div>
{% endfor %}	
		</div>
	</div>
{% endblock %}
