{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Modification œuvre'}}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row d-flex justify-content-center">
	<div class="col-12 col-sm-6">
    		<h1 class="my-5 pt-5">Modification d'une œuvre</h1>

			{{ include('artwork/_form.html.twig', {'button_label': 'Modifier'}) }}

		</div>
    </div>
	</div>
{% endblock %}
