@use 'app' as a;

$height-home-bg-image:80vh;
$max-height-image-category:30rem;

.home {
    object-fit:cover;
    max-height: $height-home-bg-image;
    width:100vw;
} 
.categoryHome{
    max-height: $max-height-image-category;
    aspect-ratio: 1/1;
    object-fit:cover;
}