{% block footer %}

	<footer class="mt-5 bg-dark ">
		<div class="container ">
			<div class="row justify-content-center">
				<div class="col-sm-8">


					<dl class="d-flex justify-content-around mt-5">
						<dd>
							<a href="#" >
								<i class="fs-1 bi bi-facebook"></i>
							</a>
						</dd>

						<dd>
							<a href="#">
								<i class="fs-1 bi bi-twitter"></i>
							</a>
						</dd>

						<dd>
							<a href="#">
								<i class="fs-1 bi bi-snapchat"></i>
							</a>
						</dd>

						<dd>
							<a href="#">
								<i class="fs-1 bi bi-instagram"></i>
							</a>
						</dd>


					</dl>
					<ul class="d-flex justify-content-center p-0 m-0">
						<li class="list-inline-item ">
							<a class="text-decoration-none d-flex flex-column align-items-center" href="{{ path('app_index') }}"><i class="fs-3 bi bi-house mb-1 mt-5"></i>- Accueil</a>
						</li>
						<li class="list-inline-item">
							<a class="text-decoration-none d-flex flex-column align-items-center" href="#"><i class="fs-3 bi bi-map mb-1 mt-5"></i>- Plan</a>
						</li>
						<li class="list-inline-item">
							<a class="text-decoration-none d-flex flex-column align-items-center" href="#"><i class="fs-3 bi bi-palette2 mb-1 mt-5"></i>- About </a>
						</li>
						<li class="list-inline-item">
							<a class="text-decoration-none d-flex flex-column align-items-center" href="#"><i class="fs-3 bi bi-radioactive mb-1 mt-5"></i>- Mentions -</a>
						</li>
					</ul>
				</div>
				<div class="d-flex justify-content-center">
					<a class="text-decoration-none fs-3 text-center mt-3 pb-3">Dessine moi un mouton - 2023</a>
				</div>
			</div>
		</div>

	</footer>
{% endblock %}
